body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
    color: #007BFF;
}

h2 {
    margin: 20px;
}

#taskM {
    font-size: 30px;
    color: #f9f8f9;
}

a {
    color: green;
}

.formContainer {
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(105, 104, 104, 0.3);
}

#loginForm,
#registerForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.taskCon {
    display: inline-block;
    box-shadow: 0 2px 10px rgba(105, 104, 104, 0.3);
}

.taskCon form {
    width: 355px;
}

input {
    width: 100%;
    padding: 8px;
}

#titleDate,
#priorityTaskBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#createTaskForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#createTaskForm div {
    padding: 10px;
    width: 100%;
}

textarea {
    padding: 8px;
    resize: none;
    height: 115px;
    width: 100%;
}

.deleteBtn {
    background-color: orange;
    color: white;
}

button:not(#logoutBtn):not(.deleteBtn) {
    background-color: #007BFF;
    color: white;
}

button {
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    outline: 1px solid purple;
    border-radius: 8px;
}

a {
    color: lightgreen;
}

#taskList ul {
    list-style: none;
    padding: 0;
}

#tasks li {
    background: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

#tasks {
    list-style-type: none;
    padding: 0;
}

#tasks li {
    background: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#filters>div {
    display: inline-block;
    padding: 15px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(105, 104, 104, 0.3);
}

/*********/
#regDiv,
#logDiv {
    font-family: monospace;
    font-size: small;
    padding: 24px;
}