body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
    color: #007BFF;
}

a {
    color: green;
}

.formContainer {
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(105, 104, 104, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

input {
    display: block;
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 9px 15px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#tasks {
    list-style-type: none;
    padding: 0;
}

#tasks li {
    background: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*********/
#regDiv,
#logDiv {
    font-family: monospace;
    font-size: small;
    padding: 24px;
}